<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>Env Vars</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            function submitform()
            {
                document.detailform.submit();
                return false;
            }
        </script>
    </head>
    <body>
    <h1>Environment Variables</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
