<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        {% if title %}
        <title>{{ title }} - rjc</title>
        {% else %}
        <title>rjc</title>
        {% endif %}
    </head>
    <body>
        <div style="text-align:left;">
            <a href="{{ url_for('index') }}"
               style="text-decoration: none; font-size:32px;">rjc</a>
            <a href="{{ url_for('api') }}">API</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <span style="float:right;"><a href="{{ url_for('logout') }}"
                                              style="text-align:right;">Logout</a></span>
            {% else %}
                            <span style="float:right;"><a href="{{ url_for('login') }}"
                                              style="text-align:right;">Login</a></span>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
