{% extends "base.html" %}

{% block content %}
    <h2>Display</h2>
    <table>
        <tr>
            <td align="right">{{form.id.label}}:</td>
            <td>{{form.id.data}}</td>
        </tr>
        <tr>
            <td align="right">{{form.name.label}}:</td>
            <td>{{form.name.data}}</td>
        </tr>
        <tr>
            <td align="right">{{form.val.label}}:</td>
            <td>{{form.val.data}}</td>
        </tr>
    </table>

    <p><a href="{{ url_for('index') }}">back</a></p>
{% endblock %}
