{% extends "base.html" %}

{% block content %}
<br>
<br>
<table border="0">
    <tr>
        <td valign="top">
            <a href="http://www.linkedin.com/in/ronjohn" target="_blank"><img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn" height="24"></a><br>
            <a href="https://github.com/ronjohn4" target="_blank"><img src="{{ url_for('static', filename='github.png') }}" alt="GitHub" height="24"></a><br>
            <a href="https://twitter.com/RonJohn4" target="_blank"><img src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter" height="24"></a><br>
            <a href="mailto:contact@ronjohnsonconsulting.com">email</a>
        </td>
        <td style="padding-left: 20px; padding-top: 0px; width:50%">
            <p>
            This space is a test bed used for testing concepts and a space for presenting work to clients.  If you are a client, login and you will be taken to your specific space.
            </p>
            <p>
            The current iteration of the landing page is Python/Flask with a Postgres backed.  Projects have been broken out into separate subdomains.
            </p>
            <ul>
                <p>
                <li><a href="http://bkv.ronjohnsonconsulting.com/">BKV</a> - Bag Key Values helps manage application configuration.</li>
                <li><a href="http://bkv-example.ronjohnsonconsulting.com/">BKV Example</a> - Is an example Python Flask website that manages it's configuration using BKV.  It shows patterms for loading on startup, saving to OS environmental values for later use and loading from OS environmental values if the BKV endpoint isn't available.</li>
                </p>
                <p>
                <li><a href="http://helloworld.ronjohnsonconsulting.com/">Hello World</a> - Test running straight HTML along side and nginx uwsgi app.</li>
                <li><a href="http://c4maint.ronjohnsonconsulting.com/">c4maint</a> - Examples of different CRUD operations including 1 page with parent child mix.</li>
                </p>
            </ul>
        </td>
        <td style="width:100%">
        </td>
    </tr>
</table>
{% endblock %}
