{% extends "base.html" %}

{% block content %}
<br>
<br>
<table border="0">
    <tr>
        <td valign="top">
            <a href="http://www.linkedin.com/in/ronjohn" target="_blank"><img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn" height="24"></a><br>
            <a href="https://github.com/ronjohn4" target="_blank"><img src="{{ url_for('static', filename='github.png') }}" alt="GitHub" height="24"></a><br>
            <a href="https://twitter.com/RonJohn4" target="_blank"><img src="{{ url_for('static', filename='twitter.png') }}" alt="Twitter" height="24"></a><br>
            <a href="mailto:contract@ronjohnsonconsulting.com">email</a>
        </td>
        <td style="padding-left: 20px; padding-top: 0px;">
            <p>
            This space is a test bed use for testing concepts and a space for presenting work to clients.  If you are a client, log in above and you will be taken to your specific space.
            </p>
            <ul>
                <li>
                    The current iteration of the space is Python/Flask with a Postgres backed.
                </li>

            </ul>
            <b>Libraries used include:</b><br>
            certifi==2018.11.29<br>
            Flask==1.0.2<br>
            Flask-Login==0.4.1<br>
            Flask-Mail==0.9.1<br>
            Flask-Migrate==2.3.1<br>
            Flask-RESTful==0.3.7<br>
            Flask-SQLAlchemy==2.3.2<br>
            Flask-WTF==0.14.2<br>
            gunicorn==19.9.0<br>
            Jinja2==2.10<br>
            requests==2.21.0<br>
            SQLAlchemy==1.2.16<br>
            urllib3==1.24.1<br>
            Werkzeug==0.14.1<br>
            WTForms==2.2.1<br>
        </td>
    </tr>
</table>
{% endblock %}
