{% extends "base.html" %}

{% block content %}
{% if data %}
    <table border="1">
        <tr>
            <th>action</th>
            <th>id</th>
            <th>name</th>
            <th>value</th>
        </tr>

        {% for v in data %}
            <tr>
                <td>
                    <a href="/detail/{{v.id}}" method="post">view</a>|<a href="/edit/{{v.id}}" method="post">edit</a></a>|<a href="/delete/{{v.id}}" method="post">delete</a></a>
                </td>
                <td>{{v.id}}</td>
                <td>{{v.name}}</td>
                <td>{{v.val}}</td>

            </tr>
        {% endfor %}
    </table>
    <p><a href="/add">add</a></p>
{% endif %}
{% endblock %}
